.hero {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sub-headline {
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    font-size: 8.5rem;
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
}

.first-letter {
    text-transform: uppercase;
    font-size: 10rem;
}

.headline {
    font-family: var(--main-font);
    color: #fff;
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-right: -0.5rem;
    font-weight: 900;
}